body{
  
    background-image: url('proje.png');
    background-size: cover;
    background-repeat:no-repeat;
    height:100%;
    background-position: center;

}
*{
    margin:0;
    padding:0;
}

.error{
    background: red;
    color:black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    
}
#img1{
    border-radius: 50%;
  }

#img1:hover {
    transform: scaleX(-1);
  }
h2{
  color:blue;
}
