body{
  
    background-image: url('proje.png');
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;

}
*{
    margin:0;
    padding:0;
}

.error{
    background: red;
    color:black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    
}
body{
    padding-top:120px;
}